<style>
    #shadow2 {
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        position: fixed;
        top: 0;
        right: 0;
        overflow: hidden;
        z-index: 10;
    }

    .modal-title {
        background: #4b8df8;
        padding: 25px 10px;
        margin-bottom: 20px;
    }

    .home h2 {
        margin: 0;
        font-weight: 900;
    }
    #shadow2 h2 {
        color:white;
        margin: 0;
        font-size:2.2em;
        font-weight: 700;
    }
    #shadow2 ul {
        display: block;
        padding-bottom:10px;
        align-items: center;
    }

    #sondage {
        z-index: 10;
        width: 560px;
        height: auto;
        background: white;
        position: absolute;
        margin: 0 auto;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        left: 0;
        right: 0;
    }

    #shadow2 li {
        display: inline-flex;
        margin-right: 10px;
        margin-bottom: 15px;
        justify-content: center;
        height: auto;
        background: #4b8df8;
        -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
        -ms-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
        box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        width: 150px;
    }
    #shadow2 li:hover {
        background-color: #A1A1A1;
    }

    #shadow2 li a {
        padding: 10px 10px 10px 0;
        text-transform: uppercase;
        color: white;
        width:100%;
        font-size:1.5em;
        display:block;
        position: relative;
    }

    #shadow2 li a span:after {
        content: '\00bb';
        font-family: 'Lato', sans-serif;
        position: relative;
        top: 12%;
        transform:translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        right: 0;
        font-size: 1.8em;
        line-height: 0.6;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        -webkit-transition: 0.5s ease;
        transition: 0.5s ease;
        -ms-transition: 0.5s ease;
    }

    #shadow2 li a:hover {
        text-decoration: none;
        color: white;
    }
</style>
<div id="shadow2">
    <div class="row">
        <div id="sondage" class="col-md-5">
            <div class="row">
                <div class="col-12 modal-title text-center text-uppercase">
                    <h2>{{ t('strings.landings.pool.choose_your_language') }}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <ul class="languages text-center">
                        {% for language in choiceLangue %}
                            <li>
                                <a data-ga="{{ language.getLabel() }}" class="btn-fdz-big btn_fdz" data-value="{{ language.getLabel() }}">{{ language.getLabel() }}<span></span></a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

